# Dependency/Cache Directories
node_modules/
.cache/
.pnpm-store/
.husky/

# IDE/Config Files
/vscode/
/.env*
*.lock

# Build/Artifact Directories
dist/
build/
out/
coverage/
public/
.next/
.nuxt/

# Documentation/Assets
docs/
images/
